{% extends "base.html" %}

{% block app_content %}
<div class="row">
    <div class="col text-center">
        <div class="display-1">413</div>
        <div class="display-4">Size exceded</div>
        <div class="lead mt-4">The file you were trying to upload was over X MB. We have limited storage, please try reducing the size.</div>
        <div class="lead mt-2">Let's go <a href="{{ url_for("index") }}"><i class="fas fa-home"></i> home</a> and try from there.</div>
    </div>
</div>
{% endblock %}