<nav class="footer navbar navbar-expand-lg navbar-light bg-light mb-0">
    <div class="container">
    <div class="navbar-text navbar-left">Pukmun© 2020
    </div>
    
    <div class="btn-toolbar navbar-right">
        <div class="btn-group mr-1">
            <a href="#" class="btn btn-primary">
                <i class="fab fa-facebook"></i></a>
        </div>
        <div class="btn-group mr-1"> 
            <a href="#" class="btn-danger btn">
                <i class="fab fa-youtube"></i> </a>
        </div>
        <div class="btn-group mr-1">
            <a href="#" class="btn-secondary btn">
                <i class="fab fa-instagram"></i> </a>
        </div>
        <div class="btn-group">
            <a href="#" class="btn-info btn">
                <i class="fab fa-twitter"></i> </a>
        </div>
    </div>
</nav>