<div class="row">
    <div class="col-md-6  form-group">
            <div class="row">
                <div class="col-md-12">
                    <img class="img-fluid" src="{{ url_for('static', filename='1.png') }}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="badge badge-primary">Step 1</span> <a href="{{ url_for("login") }}">Login</a> or to start your session or <a href="{{ url_for("register") }}">register</a> on the website. It's very easy!
                </div>
            </div>
    </div>
    <div class="col-md-6  form-group">
            <div class="row">
                <div class="col-md-12">
                    <img class="img-fluid" src="{{ url_for('static', filename='2.png') }}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="badge badge-primary">Step 2</span> <a href="{{ url_for("explore") }}">Explore</a> the full collection of recipes that our users have shared with the <i class="fas fa-globe-europe" style="color: green;"></i>.
                </div>
            </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6  form-group">
            <div class="row">
                <div class="col-md-12">
                    <img class="img-fluid" src="{{ url_for('static', filename='3.png') }}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="badge badge-primary">Step 3</span> Browse the recipes, like them and follow your favourite chefs. All their recipes will be visible on your front page, even new ones added in the future, no need to make any extra effort.
                </div>
            </div>
    </div>
    <div class="col-md-6  form-group">
            <div class="row">
                <div class="col-md-12">
                    <img class="img-fluid" src="{{ url_for('static', filename='4.png') }}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="badge badge-primary">Step 4</span> Be part of the community and start sharing your own recipes. We will <i class="fas fa-heart" style="color: #d9534f;"></i> you for that.
                </div>
            </div>
        </div>
</div>