<div class="row mb-3">
    <div class="col">
        <div class="card">
            <div class="card-body">
                {{ notification.content|safe }}
            </div>
            <div class="card-header">
                {% if not notification.seen %}
                    <div class="float-left mr-1">
                        <form action="{{ url_for('see', notification=notification.id) }}" method="post">
                            {{ form.hidden_tag() }}
                            <button class="btn btn-primary btn-sm" type="submit" alt="Mark as seen"><i class="fas fa-eye"></i></button>
                        </form>
                    </div>
                {% else %}
                    <div class="float-left mr-1">
                        <form action="{{ url_for('unsee', notification=notification.id) }}" method="post">
                            {{ form.hidden_tag() }}
                            <button class="btn btn-secondary btn-sm" type="submit" alt="Mark as unseen"><i class="fas fa-eye-slash"></i></button>
                        </form>
                    </div>
                {% endif %}
                <div class="float-left">
                    <form action="{{ url_for('remove_notification', notification=notification.id) }}" method="post">
                        {{ form.hidden_tag() }}
                        <button class="btn btn-danger btn-sm" type="submit" alt="Remove"><i class="fas fa-trash"></i></button>
                    </form>
                </div>
                {% if not notification.seen %}
                    <div class="float-right ml-1">
                        <small class="card-subtitle badge badge-danger"><i class="fas fa-star" style="color: gold"></i> NEW</small>
                    </div>
                {% endif %}
                <div class="float-right">
                    <small class="card-subtitle badge badge-info">{{ notification.timestamp|timeago }}</small>
                </div>
            </div>
        </div>
    </div>
</div>