<div class="row">
  <div class="col">
     <a role="button" class="mr-1 btn btn-outline-primary btn-sm{% if notifications.page == 1 %} disabled{% endif %} float-left" {% if notifications.page == 1 %}aria-disabled="true" {% endif %}href="{{ url_for(url, page=notifications.prev_num) }}"><i class="fas fa-angle-left"></i></a>
     {% for page_num in notifications.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
       {% if page_num %}
         {% if notifications.page == page_num %}
           <a role="button" href="{{ url_for(url, page=page_num) }}"
               class="mr-1 btn btn-primary btn-sm float-left disabled">
               {{ page_num }}
           </a>
         {% else %}
           <a href="{{ url_for(url, page=page_num) }}"
               class="mr-1 btn btn-outline-primary btn-sm float-left">
               {{ page_num }}
           </a>
         {% endif %}
       {% else %}
         <a role="button" href="#"
           class="mr-1 btn btn-outline-primary btn-sm float-left disabled">
             ...
         </a>
       {% endif %}
     {% endfor %}
     <a role="button" class="btn btn-outline-primary btn-sm{% if notifications.page == notifications.pages %} disabled{% endif %} float-left" {% if notifications.page == notifications.pages %} aria-disabled="true" {% endif %}href="{{ url_for(url, page=notifications.next_num)  }}"><i class="fas fa-angle-right"></i></a>  
 </div>
</div>