<div class="row">
  <div class="col">
    <a role="button" class="btn btn-primary{% if not prev_url %} disabled{% endif %} float-left" {% if not prev_url %}aria-disabled="true"{% endif %}href="{{ prev_url or '#' }}"><span aria-hidden="true">&larr;</span> Newer recipes</a>
    <a role="button" class="btn btn-primary{% if not next_url %} disabled{% endif %} float-right" {% if not next_url %}aria-disabled="true"{% endif %}href="{{ next_url or '#' }}">Older recipes <span aria-hidden="true">&rarr;</span></a>  
  </div>
</div>