<div class="col-sm-12 col-md-6 col-lg-4 mb-3">
    <a href="{{ url_for('recipe', recipe_name=recipe.urlify(), recipe_id=recipe.id) }}">
        <img class="img-fluid rounded" src="{{ url_for('get_thumb', filename=recipe.image) }}" width="100%"/>
        <a href="{{ url_for('recipe', recipe_name=recipe.urlify(), recipe_id=recipe.id, _anchor='comments') }}">
            <h5>
                <span class="badge badge-dark position-absolute" style="right:20px; top:5px;"><i class="fas fa-comments"></i> {{ recipe.comments.count() }}</span>
            </h5>
        </a>
        <h5>
            <span class="badge badge-secondary position-absolute" style="left:20px; top:5px;"><i class="fas fa-heart"></i> {{ recipe.likes.count() }}</span>
        </h5>
    </a>
    <div>
        <a class="h5" href="{{ url_for('recipe', recipe_name=recipe.urlify(), recipe_id=recipe.id) }}">
            {{ recipe.name }}
        </a>
        <small class="text-muted">by </small><a class="badge badge-primary" href="{{ url_for('user', username=recipe.author.username.lower()) }}">{{ recipe.author.username }}</a>
    </div>
    <div class="float-left mr-2">
        <i class="fas fa-concierge-bell"></i>
        <a href="{{ url_for('category', category=recipe.category.lower()) }}" class="badge badge-success">{{ recipe.category or 'Uncategorised' }}</a>
    </div>
    <div class="float-left">
        <i class="fas fa-calendar"></i>
        <span  class="badge badge-info">{{ recipe.timestamp|timeago }}</span>
    </div>
    <div class="float-left" style="clear: both">
        <i class="fas fa-tag"> </i>
        {% if recipe.tags %}
            {% for tag in recipe.tags.split(',') %}
                <a href="{{ url_for('tag', tag=tag.lower()) }}" class="badge badge-warning">{{tag}}</a>
            {% endfor %}
        {% else %}
            <span  class="badge badge-warning">Untagged</span>
        {% endif %}
    </div>
</div>