<div class="col">
    <div class="card border-primary">
        <div class="card-header bg-primary text-white">
            <i class="fas fa-info-circle"></i> Login Information
        </div>
        <div class="card-body">
            <p>Enter either your <strong>username</strong> or <strong>email</strong>, and your <strong>password</strong> to log into Pukmun. If you don't have an account, please <em>create</em> one.</p>
            <p>If you have forgotten your password, please <em>reset</em> it.</p>
            <p>If you have just created an account you need to activate it using the link provided in the confirmation email that we have sent you. If you haven't received it you can request us to send you a <em>new confirmation e-mail</em>.</p>
            <p>If you don't have access to the e-mail account you registered with, you can change to a different one on your profile. Password reset e-mails are sent to the current configured e-mail address, if you cannot access your account please contact us to make the changes on your behalf by any means.</p>
        </div>
    </div>
</div>