<div class="col">
    <div class="card border-primary">
        <div class="card-header bg-primary text-white">
            <i class="fas fa-info-circle"></i> Important Info
        </div>
        <div class="card-body">
            <p>All recipes are moderated by the Pukmun community, that means that nothing goes online unless a certain number of users accept it. That's why it's very important the quality of the content submitted.</p>
            <p>Users expect a recipe with an original photo or the final result of your recipe with a good size and decent quality (large images are reduced automatically, so do not worry about that).</p>
            <p>Tell us about this recipe, how it's related with you and your experiences and memories with cooking and eating. A good description will catch the eye of the pukmuns (and they are the one deciding if it's approved).</p>
            <p>Please categorise the recipe, and add a few tags in order to be able to find it effortlessly. Remember to user the right format (separated by a comma).</p>
            <p>Include all the ingredients needed for the amount of portions indicated and don't be afraid of entering into much detail in the preparation steps, all information is good for us!</p>
            <p>You can add links in your recipe, but it's not very recommended to add too many.</p>
            <p>Last but not least, pay attention to the redaction and try to avoid typos.</p>
            <p>Thank you and good luck!</p>
        </div>
    </div>
</div>