<div class="col">
    <div class="card border-primary">
        <div class="card-header bg-primary text-white">
            <i class="fas fa-info-circle"></i> Edit Profile Info
        </div>
        <div class="card-body">
            <p>Use this form to change your personal information.</p>
            <p>You can upload a new avatar (an image which identifies you to the rest of the Pukmun community) and also change your user name, e-mail and "about me" information.</p>
            <p>Please let us know a bit about you with a short description, be creative.</p>
            <p>Please note that a change in your e-mail address will log you out. A confirmation e-mail will be sent to the address provided in order to know that it's really you.</p>        </div>
        </div>
    </div>
</div>