<div class="col-md-6 col-lg-12">
    <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white">
            <i class="fas fa-users"></i> Our Heroes
        </div>
        <div class="card-body">
            {% for user in top_users %}
                {% include '_top_users.html' %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="col-md-6 col-lg-12">
    <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white">
            <i class="fas fa-share-square"></i> Follow us!
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-around btn-toolbar">
                <div class="btn-group">
                    <a href="#" class="btn btn-primary">
                        <i class="fab fa-facebook"></i></a>
                </div>
                <div class="btn-group"> 
                    <a href="#" class="btn-danger btn">
                        <i class="fab fa-youtube"></i> </a>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn-secondary btn">
                        <i class="fab fa-instagram"></i> </a>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn-info btn">
                        <i class="fab fa-twitter"></i> </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 col-lg-12">
    <div class="card border-primary">
        <div class="card-header bg-primary text-white">
            <i class="fas fa-comments"></i> Latest Comments
        </div>
        <div class="card-body">
            {% for comment in comments %}
                {% include '_latest_comments.html' %}
            {% endfor %}
        </div>
    </div>
</div>