<div class="col">
    <div class="card border-primary">
        <div class="card-header bg-primary text-white">
            <i class="fas fa-info-circle"></i> Notifications Info
        </div>
        <div class="card-body">
            <p>Do you want to be aware of what's going on? if one of the recipes that you added has been accepted? You're in the right spot, the notification area is the place where you get informed of what happened when you weren't online.</p>
            <p>Pukmun alerts you of any important events in which you are involved!</p>
            <p>You can mark your alerts as seen both individually or all at once. The same thing happens with the removal option, be careful with this one because we won't be able to recover any messages once they have been removed.</p>        </div>
    </div>
</div>