<div class="col">
    <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white">
            <i class="fas fa-exclamation-triangle"></i> Moderation Rules
        </div>
        <div class="card-body">
            <p>In Pukmun we trust you!</p>
            <p>You are the one deciding which recipes are published and which are going to the recipe hell.</p>
            <p>Please be gentle and don't discard any recipes just because it's not your cup of tea (there is always a recipe for everyone).</p>
            <p>Reasons to reject a recipe:</p>
            <ul>
            <li>There is no photo, it is too small, has strange proportions or its quality is too low.</li>
            <li>The name of the recipe is wrong or has a typo.</li>
            <li>The category is wrong.</li>
            <li>The tags are not descriptive. They are not propperly formated (all words together, etc.)</li>
            <li>Any typos or strange symbols in the ingredients or steps.</li>
            <li>Any other deliverated error.</li>
            </ul>
            <p>Thanks for your help.</p>
        </div>
    </div>
</div>