<div class="col">
    <div class="card border-primary">
        <div class="card-header bg-primary text-white">
            <i class="fas fa-info-circle"></i> Crop Image
        </div>
        <div class="card-body">
            <p>This section allows you to select a part of your image to create an avatar.</p>
            <p>Adjust the size and move the selection to the part of the image that you want the community to see.</p>
            <p>You can try as many times as you want, so don't worry if you make a mistake. Remember, the better quality the original photo has, the better your avatar will look.</p>
        </div>
    </div>
</div>