{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}
    <div class="row">
        <div class="col-12 col-sm-12 col-md-7 col-lg-8 mb-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Recipe</li>
                </ol>
            </nav>
            {{ render_form(form) }}
        </div>
        <div class="col-12 col-sm-12 col-md-5 col-lg-4">
            <div class="row">
                {% include "_sidebar_add_recipe.html" %}
            </div>
        </div>
    </div> 
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ ckeditor.load(custom_url = url_for('static', filename='ckeditor/ckeditor.js')) }}
{% endblock %}