{% extends "base.html" %}

{% block metas %}
    {{ super() }}
    <meta property="og:title" content="Your Pukmun Cookbook"/>
    <meta property="og:description" content="Your online cooking book."/>
    <meta property="og:image" itemprop="image" content="{{config['URL_BASE'] + '/static/logo.jpg'}}"/>
    <meta property="og:url" content="{{ config['URL_BASE']  + url_for('cookbook')}}"/>
{% endblock %}

{% block app_content %}
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-8 mb-3 mb-4 mb-lg-0">
            {% if recipes.items %}
            <div class="row mb-3">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                        <h6 class="card-subtitle text-muted">To keep growing your cookbook follow other chefs, like recipes or add your own.</h6>
                        </div>
                    </div>
                </div>
            </div>
            {% for recipe in recipes.items %}
                {% include '_recipe.html' %}
            {% endfor %}
            {% include '_pages_recipes.html' %}
            {% else %}
                {% include '_noresults_cookbook.html' %}
            {% endif %}
        </div>
        <div class="col-12 col-sm-12 col-lg-4">
            <div class="row">
                {% include '_sidebar.html' %}
            </div>
        </div>
    </div>
{% endblock %}