{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
        </ol>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <label class="control-label">Avatar</label>
                <p><img class="border border-primary rounded-circle" src="{{ current_user.avatar_m or avatars.default(size = 'm' ) }}"></p>
                {{ render_form(form_avatar) }}
                <hr>
                {{ render_form(form_profile) }}
            </div>
        </div>
    </div>
    <br>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ ckeditor.load() }}
{% endblock %}