{% extends "base.html" %}

{% block metas %}
    {{ super() }}
    {% if label and value %}
        <meta property="og:title" content="{{ label }}: {{ value }} - Pukmun"/>
        <meta property="og:description" content="{{ label }}: {{ value }}, selection of recipes."/>
        {% if label == "Category" %}
            <meta property="og:url" content="{{ config['URL_BASE'] + url_for('category', category=value) }}"/>
        {% elif label == "Tag" %}
            <meta property="og:url" content="{{ config['URL_BASE'] + url_for('tag', tag=value) }}"/>
        {% else %}
            <meta property="og:url" content="{{ config['URL_BASE'] + url_for('search', search=value) }}"/>
        {% endif %}
    {% else %}
        <meta property="og:title" content="Home - Pukmun"/>
        <meta property="og:description" content="Welcome to Pukmun - Explore our selection of recipes."/>
        <meta property="og:url" content="{{ config['URL_BASE'] + url_for('index') }}"/>
    {% endif %}
    <meta property="og:image" itemprop="image" content="{{config['URL_BASE'] + '/static/logo.jpg'}}"/>
{% endblock %}

{% block app_content %}
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-8 mb-3  mb-4 mb-lg-0">
            {% if label %}
                <nav aria-label="breadcrumb" class="text-uppercase">
                    <ol class="breadcrumb default-color">
                    <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item active">{{ label }}</li>
                    {% if value %}
                        <li class="breadcrumb-item active" aria-current="page">{{ value }}</li>
                    {% endif %}
                    </ol>
                </nav>
            {% else %}
                <div class="row mb-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="float-left mt-2">
                                    <h5>Latest Recipes</h5>
                                </div>
                                <div class="dropdown float-right">
                                    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Top Recipes
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="{{ url_for('top_global' )}}">
                                            <i class="fas fa-heart"></i>
                                            Always</a>
                                        <a class="dropdown-item" href="{{ url_for('top_month' )}}">
                                            <i class="fas fa-heart"></i>
                                            Month</a>
                                        <a class="dropdown-item" href="{{ url_for('top_week' )}}">
                                            <i class="fas fa-heart"></i>
                                            Week</a>
                                        <a class="dropdown-item" href="{{ url_for('top_24h' )}}">
                                            <i class="fas fa-heart"></i>
                                            24h</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if recipes %}
                {% for recipe in recipes %}
                    {% include '_recipe.html' %}
                {% endfor %}
                {% include '_pages_recipes.html' %}
            {% else %}
                {% include '_noresults_home.html' %}
            {% endif %}
        </div>
        <div class="col-12 col-sm-12 col-lg-4">
            <div class="row">
                {% include '_sidebar.html' %}
            </div>
        </div>
    </div>
{% endblock %}