{% extends "base.html" %}

{% block metas %}
    {{ super() }}
    {% if label and value %}
        <meta property="og:title" content="{{ label }}: {{ value }} - Pukmun"/>
        <meta property="og:description" content="{{ label }}: {{ value }}, selection of recipes."/>
        {% if label == "Category" %}
            <meta property="og:url" content="{{ config['URL_BASE'] + url_for('category', category=value) }}"/>
        {% elif label == "Tag" %}
            <meta property="og:url" content="{{ config['URL_BASE'] + url_for('tag', tag=value) }}"/>
        {% else %}
            <meta property="og:url" content="{{ config['URL_BASE'] + url_for('search', search=value) }}"/>
        {% endif %}
    {% else %}
        <meta property="og:title" content="Moderation Area - Pukmun"/>
        <meta property="og:description" content="Help us filter the web contents."/>
        <meta property="og:url" content="{{ config['URL_BASE'] + url_for('moderate') }}"/>
    {% endif %}
    <meta property="og:image" itemprop="image" content="{{config['URL_BASE'] + '/static/logo.jpg'}}"/>
{% endblock %}

{% block app_content %}
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-8 mb-3  mb-4 mb-lg-0">
            {% if recipe %}
                {% include '_recipe_moderation.html' %}
                {% include '_pages_moderation.html' %}
            {% else %}
                {% include '_noresults_moderation.html' %}
            {% endif %}
        </div>
        <div class="col-12 col-sm-12 col-lg-4">
            <div class="row">
                {% include '_sidebar_moderation.html' %}
            </div>
        </div>
    </div>
{% endblock %}