{% extends "base.html" %}

{% block metas %}
    {{ super() }}
        <meta property="og:title" content="Privacy Notice"/>
        <meta property="og:description" content="Know your rights."/>
        <meta property="og:image" itemprop="image" content="{{config['URL_BASE'] + '/static/logo.jpg'}}"/>
        <meta property="og:url" content="{{ config['URL_BASE']  + url_for('privacy')}}"/>
{% endblock %}

{% block app_content %}
<div class="row">
    <div class="col text-center">
        Privacy
    </div>
</div>
{% endblock %}