{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 mb-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Reset Your Password</li>
                </ol>
            </nav>
            {{ render_form(form) }}
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <div class="row">
                {% include "_sidebar_reset_password.html" %}
            </div>
        </div>
    </div>
    <br>
{% endblock %}