{% extends "base.html" %}

{% block metas %}
    {{ super() }}
        <meta property="og:title" content="{{ label }} {{ value }} - Pukmun"/>
        <meta property="og:description" content="{{ label }} {{ value }} - Explore our selection of recipes."/>
    {% if value == 'last 30 days' %}
        <meta property="og:url" content="{{ config['URL_BASE'] + url_for('top_month') }}"/>
    {% elif value == 'last 7 days' %}
        <meta property="og:url" content="{{ config['URL_BASE'] + url_for('top_week') }}"/>
    {% elif value == 'last 24 hours' %}
        <meta property="og:url" content="{{ config['URL_BASE'] + url_for('top_24h') }}"/>
    {% else %}
        <meta property="og:url" content="{{ config['URL_BASE'] + url_for(label.lower()+'_'+value.lower()) }}"/>
    {% endif %}
        <meta property="og:image" itemprop="image" content="{{config['URL_BASE'] + '/static/logo.jpg'}}"/>
{% endblock %}

{% block app_content %}
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-8 mb-3  mb-4 mb-lg-0">
            {% if label %}
                <nav aria-label="breadcrumb" class="text-uppercase">
                    <ol class="breadcrumb default-color">
                    <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item active">{{ label }} {{ value }}</li>
                    </ol>
                </nav>
            {% endif %}
            {% if recipes.items %}
                <div class="row">
                {% for recipe in recipes.items %}
                    {% include '_recipe.html' %}
                {% endfor %}
                </div>
                {% include '_pages_recipes.html' %}
            {% else %}
                {% include '_noresults_home.html' %}
            {% endif %}
        </div>
        <div class="col-12 col-sm-12 col-lg-4">
            <div class="row">
                {% include '_sidebar.html' %}
            </div>
        </div>
    </div>
{% endblock %}